.customer-filter {
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 1rem;
}
.customer-filter .left-space {
  margin-left: 15px;
  margin-right: 10px;
}
.customer-filter p {
  font-size: 21px;
  color: #5e5e5e;
}

.filter-search {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.customer-filter .filter-txt {
  color: #259d70;
  padding-right: 1rem;
  padding-left: 1rem;
}
.customer-filter p .fa-search {
  background-color: #259d70;
  border-radius: 50%;
  padding: 8px;
  color: #fff;
  transform: rotate(90deg);
}
.customer-wallets {
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 1rem;
}
.customer-wallet {
  background-color: #ffffff;
  color: #252422;
  position: relative;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1),
    box-shadow 200ms ease;
}
.wallet-stats .wallet-body {
  padding: 10px 0px 10px 50px;
}
.wallet-stats .wallet-img {
  width: 70px !important;
  max-width: unset;
}
.wallet-stats .customer-img {
  width: 70px !important;
  max-width: unset;
}
.wallet-stats .wallet-body .numbers {
  text-align: left;
  font-size: 2em;
  margin-left: 2rem;
}
.wallet-stats .wallet-body .numbers .card-category {
  color: #444444;
  font-size: 24px;
  line-height: 1.4em;
}
.wallet-stats .wallet-body .numbers p {
  margin-bottom: 0.75rem;
}
.wallet-stats .wallet-body .numbers .card-title {
  font-size: 18px;
  color: #444444;
  font-weight: 600;
}

.wallet-stats .profile-body {
  padding: 15px 15px 0px;
  float: right;
}
.wallet-stats .profile-body .profile {
  text-align: left;
  font-size: 2em;
  margin-right: 2rem;
}
.wallet-stats .profile-body .profile .card-category {
  color: #259d70;
  font-size: 24px;
  line-height: 1.4em;
}
.wallet-stats .profile-body .profile p {
  margin-bottom: 0.75rem;
}
.wallet-stats .profile-body .profile .card-title {
  float: right;
  font-size: 16px;
  font-weight: 500;
}
.wallet-green {
  color: #259d70;
}
.wallet-card {
  border-radius: 5px;
  box-shadow: 2px 2px 9px 2px #cfcfcf;
  background-color: #ffffff;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  border: 2px solid #f9f9f9;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1),
    box-shadow 200ms ease;
  max-width: 550px;
}
.wallet-card-stats .wallet-card-body {
  padding: 10px 0px 10px 0px;
}
.wallet-card-stats .icon-big {
  font-size: 3em;
  min-height: 64px;
}
.wallet-card-stats .wallet-card-body .numbers {
  text-align: right;
  font-size: 2em;
}
.wallet-card-stats .wallet-card-body .numbers .card-category {
  color: #9a9a9a;
  font-size: 16px;
  line-height: 4.4em;
}

.wallet-card-stats .wallet-card-body .numbers p {
  margin-bottom: 0;
  margin-left: 10px;
}
.wallet-card-stats .wallet-card-body .arrow-icon {
  margin-left: 15%;
  line-height: 4.4rem;
}

.wallet-card-stats .wallet-card-body .wallet-text {
  margin-left: 25%;
}
.customer-note {
  max-width: 1210px;
}
.customer-note .note-text {
  border: 2px solid #259d70;
  text-align: center;
  margin-top: 20px;
}

.customer-note .note-text p {
  margin: 20px;
  font-size: 15px;
  color: #259d70;
  font-weight: bold;
}
#table-amount {
  font-size: 16px;
}
#table-status {
  font-size: 16px;
  color: #259d70;
}
#table-comment {
  font-size: 16px;
}
.customer-table {
  margin-top: 6%;
  border: 2px solid #fff;
  box-shadow: 0px 1px 3px 3px #cfcfcf;
  border-radius: 5px;
  width: auto;
}

.customer-table-th {
  background-color: #ffffff;
  color: #252422;
  position: relative;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1),
    box-shadow 200ms ease;
}
.customer-tnx-table {
  margin-top: 1%;
  border: 2px solid #fff;
  box-shadow: 1px 1px 11px 3px #cfcfcf;
  border-radius: 5px;
  width: auto;
}
.customer-table .table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 10px 37px;
  vertical-align: middle;
}
.customer-tnx-table table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 18px 30px !important;
  vertical-align: middle;
}
.customer-tnx-table .table > tbody > tr > td {
  color: #5e5e5e;
  font-size: 16px;
}
.customer-tnx-table .table > tbody > tr > td span {
  color: #259d70;
}
.table-stats .table-body {
  float: left;
}
.table-stats .table-body .table-data {
  text-align: left;
  font-size: 1em;
}

.table-stats .table-body .table-data .card-category {
  color: #444444;
  font-size: 18px;
  line-height: 0.1em;
  margin-top: 15px;
}
.table-stats .table-body .table-data .card-time {
  color: #9b9b9b;
  float: left;
}
.table-stats .table-body .table-data .card-txn {
  color: #9b9b9b;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f3f7f6;
}
.table {
  width: 100%;
  margin-bottom: 0rem !important;
  color: #212529;
}
.table > thead > tr > th {
  font-weight: normal;
  padding-bottom: 0;
  text-transform: uppercase;
  border: 0;
  color: #5e5e5e;
  font-size: 15px;
}
.thead-img {
  margin-bottom: 10px;
  padding-top: 10px !important;
  padding-bottom: 12px !important;
  text-align: center;
}
.wallet-link {
  text-decoration: none !important;
}

.algin-center {
  text-align: center !important;
}

.wallet-group {
  position: relative;
  margin-bottom: 45px;
  border-bottom: 1px solid #5757;
  margin-right: 30px;
  margin-top: 25px;
}
.wallet-group input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
}
.wallet-group input:focus {
  outline: none;
}

.wallet-group label {
  color: #5e5e5e;
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  white-space: nowrap;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wallet-group input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #444444;
}

.wallet-group .bar {
  position: relative;
  display: block;
  width: 300px;
}

.wallet-group .bar:before {
  left: 50%;
}
.wallet-group .bar:after {
  right: 50%;
}

.wallet-group input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

.download-statement .download-text {
  font-size: 18px;
  color: #444444;
}
.select-period {
  margin-left: 10%;
}
.select-period .download-period {
  font-size: 17px;
  color: #444444;
  margin-bottom: 2.5rem;
}

.checkbox-bottom-border {
  margin-top: -1rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.receive-statement .receive-text {
  font-size: 18px;
  color: #444444;
}
.receive-statement .details-form {
  margin-left: 4%;
}

.statement-button {
  text-align: center;
}
.statement-button .statement-btn {
  background: #259d70;
  color: #ffffff;
  width: 150px;
  border-width: 2px;
  font-weight: 600;
  font-size: 0.8571em;
  line-height: 1.35em;
  text-transform: uppercase;
  border: none;
  margin: 10px 1px;
  border-radius: 3px;
  padding: 11px 22px;
}
.statement-button .statement-btn:hover {
  background: #259d70;
  color: #ffffff;
  width: 150px;
}
.no-bottom-border th {
  border-top: none !important;
}
.no-bottom-border td {
  border-top: none !important;
}

.bottom-border th {
  border-bottom: 1px solid #5e5e5e !important;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #259d70;
  background-color: #259d70;
}
.download-container {
  margin-left: 12%;
}
.wallet-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: initial;
  margin-right: -15px;
  margin-left: -15px;
}

@media only screen and (max-width: 1024px) {
  .customer-tnx-table {
    width: fit-content;
  }
  .customer-table {
    width: fit-content;
  }
}

@media only screen and (max-width: 768px) {
  .download-container {
    margin-left: 5%;
  }
}
@media only screen and (max-width: 568px) {
  .customer-filter p {
    font-size: 16px;
    color: #5e5e5e;
  }
  .wallet-stats .wallet-body .numbers .card-category {
    color: #444444;
    font-size: 18px;
    line-height: 1em;
  }
  .wallet-stats .profile-body .profile .card-category {
    color: #259d70;
    font-size: 18px;
    line-height: 0.9em;
  }
}
