*{
  margin:0;
  padding: 0;
  box-sizing: border-box !important;
  
}

body{
  background-color: white !important;
}


.img-icon{
  width:100% !important;

  display:flex;
  flex-grow: inherit;
  align-items: center;

}
nav.navbar-dark{
  background-image: url(../src/img/back.png) !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
  
  width:100% !important;
}
.navbar-brand{
  padding-left: 0% !important;
  
}

.navbar {
  font-weight: 300;
   box-shadow: none !important;
}

@media (max-width: 716px){
  nav.navbar-dark {
    display: flex!important;
    flex-basis: auto;
    background-color: green !important;
}
.navbar-brand{
  padding-left: 15% !important;
  
}
.col-sm-7.figure-img1:after{
  content: "";
    display: block;
    background: url(/static/media/Asset6.1f22c602.png) 0 -2px no-repeat !important;
    background-size: 100% 100% !important;
    width: 100% !important;
    height: 557px !important;
    position: relative;
    top: -17px;
    left:-15px;
    right: 0;
    z-index: -1;
}

}
.navbar-nav > li{
  list-style-type: none;
  padding-right: 2.8rem;
  margin: 0;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1rem !important;
  font-weight:700px !important;
  flex-wrap: nowrap;
  word-break: normal;
  white-space: nowrap;
}
.navbar-nav > li a{
  font-weight: 700 !important;
}
a{
  white-space: nowrap;
}


footer.page-footer, .footer-copyright {
  background-color: gray !important;
  border-top:2px solid red !important;
}

footer.page-footer{
  
  border-bottom: 2px solid red !important;
}

.list-unstyled.footer-list {
  padding-left: 0;
  height:50px !important;
  list-style: none;
  display:flex;
  padding-right:3rem !important;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;

}
.list-unstyled.footer-list > li{
  padding: 10px !important;
  margin: 5px;
}

.img-icon{
  display:inline-block !important;
  display:flex;
  width:29% !important;
  
}

p.cite-text{
  font-size:80% !important
}
.col-sm-7.figure-img1:before{
  content: "";
    display: block;
    background: url(/static/media/Asset6.1f22c602.png) 0 -2px no-repeat !important;
    background-size: 100% 100% !important;
    width: 87.5% !important;
    height: 557px !important;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.col-sm-7.lesspadding{
  padding-right: 0 !important;
}

.figure-img>img {
  margin-bottom: .5rem;
  line-height: 1;
  padding-left: 64px !important;
  width:136% !important;
}

.col-lg-5.text-center{
  margin-left: 25% !important;
}

.okkjii-figure-apple img, .okjii-figure-imgkhata  img{
  width:100% !important;
}


.okjii-khatabook1{
  background-color: rgb(15, 167, 154) !important;
}

section.okjii-khatabook{
  padding-top:2rem;
  margin-left:25px;
}




.list-image-checkbox li:before, .list-image-hand li:before, .list-image-star li:before, .list-image-correct li:before, .list-image-incorrect li:before, .list-image-checkmark li:before, .list-image-checkmark-white li:before {
  content: "";
  background-size: 70% 70%;
  background-position: 0 50%;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  left: -1.5em;
  top: -0.2em;
  height: 1.5em;
  width: 1.5em;
}

.daily-use div h1{
  margin-top: 5rem !important;
}

section.daily-use{
  background-color: cornsilk !important;
}

/*.list-image-checkbox > li:before {
  background-image: url(../../mhe.mhhe-blk2/img/list-icons/icon-checkbox.svg);
}*/
/*---Step List---*/
.list-step, .list-step-center {
  list-style-type: none;
  display: table;
}

.list-step table, .list-step-center table {
  width: 100%;
}

.list-step li, .list-step-center li {
  display: table-row;
  font-family: "Proxima Nova Regular", Verdana, Helvetica, sans-serif;
  margin-bottom: .5em;
}

.list-step .step-title, .list-step-center .step-title {
  display: table-cell;
  padding-right: 1.5em;
  white-space: nowrap;
}

.list-step .step-info, .list-step-center .step-info {
  display: table-cell;
  word-break: break-word;
}

.list-step .step-info ol, .list-step-center .step-info ol, .list-step .step-info ul, .list-step-center .step-info ul {
  font-style: normal;
  margin-left: 0.6667em;
}


