*{
  margin:0;
  padding: 0;
  box-sizing: border-box !important;
  
}



body{
  background-color: white;
  position: relative;
  font-family: "Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif, Muli,BlinkMacSystemFont,-apple-system;
  font-size: 14px;
  color :#5e5e5e;
}



/*.col-sm-7.figure-img1:before{
  content: "";
    display: block;
    background: url(/static/media/Asset6.1f22c602.png) 0 -2px no-repeat;
    background-size: 100% 100% !important;
    width: 87.5% !important;
    height: 557px !important;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.col-sm-7.lesspadding{
  padding-right: 0 !important;
}
*/

.navbar{
  font-weight: 300;
  box-shadow: none !important;
}

.bg-image{
    background-image: url(../src/img/back.png);
  
    min-height: 50px;
    left:0 !important;
    right:0 !important;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
  
}

nav#parallelogram {
  background-color: transparent !important;
}



.figure-img2 {
  width:100% !important;
  padding-right: 0 !important;
  padding-left: 11.5% !important;
}









.navbar-nav > li{
  list-style-type: none;
  padding-right: 2.8rem;
  margin: 0;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1rem !important;
  font-weight:300px !important;
  flex-wrap: nowrap;
  word-break: normal;
  white-space: nowrap;
}
.navbar-nav > li a{
  font-weight: 400 !important;
}
a{
  white-space: nowrap;
}



.okjii-explore h1{

  font-size:3rem !important;
  font-weight:300 !important;
  color:#5e5e5e !important;
  padding-top:3.5rem !important
}

.okjii-explore h2{
  padding-bottom: 2rem !important;
  font-size: 2.5rem !important;
  font-weight:300 !important;
  color:#5e5e5e !important;
}

.okjii-explore p{
  color: #5e5e5e !important;
  font-size:1.2rem !important;
  font-weight: 400 !important
}

.okjii-install h1{
  font-size:1.3rem !important;
  font-weight:300 !important;
  align-items: center !important;
}




.okjii-install img{
  width:10% !important;
  align-content: center !important;
}

figure.okkjii-figure-google {
  width: 88%;
  align-content: baseline !important;
  padding-top: 12px;
}

.okjii-tel{
  padding-left: 30px !important;
  position: relative;
}
.okjii-tel input{
  background-color: #EDEDED !important;
  height:60px !important;
  border: none !important;
  width: 100%;
}

.okjii-tel button{
  position: absolute !important;
  border-radius: 5% !important;
  width:200px !important;
  height:50px;
  align-items: center !important;
  padding-top:15px !important;
  z-index:5;
}

.okjii-tel input[type="tel"]{
  font-size:20px !important;
  color:#000000;
  border-radius: 25px !important;
 }

input::placeholder{
  font-size:25px;
  padding-left: 10px;
  font-weight: 300;
}

button.okjii-button {
  transform: translate(-153px, 10px);
  border-radius: 25px !important;
  background-color: #259D70 !important;
  border: none;
  width: 131px !important;
  padding-bottom: 23px !important;
  height: 42px;
  color: #fff;
  font-size: 15px;
  font-weight: 600 !important;
  margin-bottom: 13px !important;
}

/*  okjii-daily*/


.okjii-best h1{
  font-size:2.5rem !important;
  font-weight:300 !important;
  padding-top: 4rem !important;
  padding-bottom: 2rem;
}

section.okjii-daily {
  background-color: #F7F7F7 !important;
  padding-left:-15px !important;
  padding-top:40px !important;
  padding-bottom: 40px !important;
  padding-right:-15px !important;
}


.okjii-daily h1{
  padding-top: 4.5rem !important;
  font-size:2.5rem !important;
  font-weight:300;
  color:#2A2AFF !important;
}

.okjii-daily p{
  color: #5e5e5e !important;
  font-size:1.2rem !important;
  font-weight: 300 !important

}

ul.list-unstyle {
  list-style-type: none !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
}

.list-unstyle p{
  font-size:1rem !important;
}

.fa-2x {
  font-size: 1.5em !important;
}




/* okjii-homedelivery */

.okjii-homedelivery h1{
  font-size:2.5rem !important;
  font-weight:300;
  color:#2A2AF0 !important;

}

.okjii-homedelivery p{
  color: #5e5e5e !important;
font-size:1.2rem !important;
font-weight: 300 !important
}


.list-unstyle p{
  font-size:1rem !important;
  margin-bottom: 0 !important;
}


/* Khata Book */

.okjii-khatabook1{
  background-color: #3BA778 !important;
}

section.okjii-khatabook{
  padding-top:2rem;
  margin-left:25px;
}


.okjii-khatabook1{
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}


.okjii-khatabook1 h1{
  font-size:2.5rem !important;
  Padding-top:2rem !important;
  padding-bottom: 1rem !important;
  font-weight:300 !important;
}

.okjii-khatabook1 p{
  color:#fff !important;
  font-size: 1.1rem !important;
  font-weight: 300 !important;
  
}
.no-break{
  word-break: keep-all;
}



/* home-testimonial  */
.home-testimonial h1{
color:#5e5e5e !important;
font-size:2.5rem !important;
font-weight:300 !important;
}

.testimoni-img{
  width:15% !important;
}

.Asset12{
  width:5% !important;

}

.carousel.carousel-fade.z-depth-1.testmonial-slide {
  box-shadow: none !important;
  
}

.carousel-inner{
  display:flex;
  align-content: center !important;
  justify-content: space-between;
  flex-wrap: wrap !important;
}

.testmonial-slide.carousel-fade a.carousel-control-prev {
  
background-color: #C6C6C6;
position: absolute;
  width: 6%;
  height: 12%;
  padding-top: 5px;
  border-radius: 40%;
  transform: translatey(-25%);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  margin-top: 6.1% !important;
}



.testmonial-slide.carousel-fade a.carousel-control-next {
  position: absolute;
  background-color: #C6C6C6;
  width: 6%;
  transform: translatex(-30%);
  height: 12%;
  left: 15% !important;
  padding-top: 5px;
  color: #000 !important;
  border-radius: 50%;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  margin-top: 4.7% !important;
}

.home-testimonial{
  position: relative;
}
.home-testimonial h2{
  color:#5e5e5e !important;
  font-size:2rem !important;
  font-weight:300 !important;
}


.home-testimonial p{
 color:#5e5e5e !important;
 font-size:1.3rem !important;
 font-weight:300 !important;
}

.home-testimonial.card {
  font-weight: 300;
  border: 0;
  box-shadow: none !important;
}

.home-testimonial blockquote p{
  font-size:1rem !important;
}


.trusted-by h1{
  color:#5e5e5e !important;
  font-size:3rem !important;
  font-weight:300 !important;

}
.turested-slide{
  display: flex;
  flex-wrap: wrap ;
  align-content: left;

}




footer.page-footer, .footer-copyright {
  background-color: #F7F7F7 !important;
  
  color:#ACACAC !important;
  border-top:2px solid #BCBCBC !important;
  
}

footer.page-footer{
  transform: translateY(60px);
}

footer.page-footer h5{
  font-size: 1.4rem !important;
  padding-bottom: 2rem;

}

footer.page-footer a {
  color:#ACACAC !important;
  font-size: 1rem;
  
  font-size:1rem !important;
  font-weight: 300 !important;
}


.d-flex.align-content-stretch.flex-wrap.example-parent img{
width:90% !important
}




.mt-1{
  font-size: 1.01rem;
  font-weight: 300;
}

footer.page-footer{
  
  border-bottom: 2px solid #BCBCBC !important;
}
.footer-bdr-right{
  border-right: 2px solid #BCBCBC !important;
}

.footer-bdr-right h5, .bdr-font h5{
  font-size: 1.5rem;
  font-weight: 400;
}



.list-unstyled.footer-list {
  padding-left: 0;
  height:50px !important;
  list-style: none;
  display:flex;
  padding-right:3rem !important;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;

}
.list-unstyled.footer-list > li{
  padding: 10px !important;
  margin: 5px;
}

.img-icon{
  display:inline-block !important;
  display:flex;
  width:29% !important;
  
}

p.cite-text{
  font-size:90% !important;
  font-weight:300 !important;
}


.col-example a{
  font-size:1rem !important;
  font-weight: 400 !important;
}

.figure-img > img {
  margin-bottom: .5rem;
  line-height: 1;
  padding-left: 64px !important;
  width:136% !important;
}

.col-lg-5.text-center{
  margin-left: 25% !important;
}




.list-image-checkbox li:before, .list-image-hand li:before, .list-image-star li:before, .list-image-correct li:before, .list-image-incorrect li:before, .list-image-checkmark li:before, .list-image-checkmark-white li:before {
  content: "";
  background-size: 70% 70%;
  background-position: 0 50%;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  left: -1.5em;
  top: -0.2em;
  height: 1.5em;
  width: 1.5em;
}

.daily-use div h1{
  margin-top: 5rem !important;
}

section.daily-use{
  background-color: cornsilk !important;
}

/*.list-image-checkbox > li:before {
  background-image: url(../../mhe.mhhe-blk2/img/list-icons/icon-checkbox.svg);
}*/
/*---Step List---*/
.list-step, .list-step-center {
  list-style-type: none;
  display: table;
}

.list-step table, .list-step-center table {
  width: 100%;
}

.list-step li, .list-step-center li {
  display: table-row;
  font-family: "Proxima Nova Regular", Verdana, Helvetica, sans-serif;
  margin-bottom: .5em;
}

.list-step .step-title, .list-step-center .step-title {
  display: table-cell;
  padding-right: 1.5em;
  white-space: nowrap;
}

.list-step .step-info, .list-step-center .step-info {
  display: table-cell;
  word-break: break-word;
}

.list-step .step-info ol, .list-step-center .step-info ol, .list-step .step-info ul, .list-step-center .step-info ul {
  font-style: normal;
  margin-left: 0.6667em;
}




/* testimony */

.home-testimonial{
  padding-top: 7%;
}






/* Trusted */


/* carousel-item */
.carousel-item.active.carousel-slide-item.turested-slide {
  display: flex !important;
  align-items: center;
  justify-content: space-around;
  width: auto;
}



ol.carousel-indicators li {
  background-color: #C6C6C6 !important;
  padding-top: 2%;
  transform: translatey(60px);
  
}

/*.controls-top {
  transform: translatey(599px) !important;
}*/








/* carusoul end*/





.trusted-icon{
  width:50% !important
  
}













.card-shadow{
  box-shadow: none !important;

}



/*   Okjii retalor CSS Start*/

/* okjii-contact*/

.okjii-contact{
  background-color: #EDEDED !important;
}

.okjii-retaler h1{
  font-size:2.5rem;
  font-weight: 500;
  color:#5E5E5E;
  padding-bottom: 5rem;
}

.okjii-retaler h1 span.text-green{
  color: #259D70;
}

.okjii-create-store{
background-color:#F7F7F7 !important;
background-image: url(../src/img/retailer/background.png);
background-repeat: no-repeat !important;
  background-color: transparent !important;
}

.okjii-contact button{
  background-color: #259D70 !important;
  border-radius: 4px;
  border:none !important;
  color:#fff !important;
  width:40% !important;
  transform: translate(255% 30%);
}

.okjii-create-store h1{
  font-size:2.5rem !important;
  color:#3365E2;
  font-weight:300;
}

.okjii-create-store p{
  font-size:1.2rem !important;
  color:#5E5E5E;
  font-weight:300;
}

.okjii-whyweshop{
  background-color: #F7F7F7 !important;

}
.okjii-whyweshop section {
  padding-top:3rem !important;
  padding-bottom: 3rem !important;
}

.okjii-whyweshop section h1{
  font-size:2.5rem !important;
  font-weight: 400 !important;
  padding-bottom: 1.5rem;
  color:#5E5E5E;
}

.okjii-whyweshop section h4 {
  color:#5E5E5E;
  font-size:1.4rem;
  font-weight: 400;
  padding-bottom: 3rem;

}

.okjii-fast-img{
  margin-left:0 !important;
  margin-right: -15px !important;
}


.okjii-fast {
  position: relative;
  text-align: left;
  color: #122538;
}

.okjii-fastcon {
  position: absolute;
  top: 65px;
  left: 70px;
}


.okjii-fastfast{
  position: relative;
  text-align: left;
  color: #5E5E5E;
}

.okjii-fastfast.okjii-fast-left1, .okjii-fastfast.okjii-fast-left2, .okjii-fastfast.okjii-fast-left3, .okjii-fastfast.okjii-fast-left4 {
  position: absolute;
  width:15%;

}



.okjii-fast-left1 {
  position: absolute;
  width:25%;
  top: 18%;
  width:25%;
  border:1px solid red;
  text-align:left;
  left: 2%;
  font-size: 1.7rem;
  
}
.okjii-fast-left2{
  position: absolute;
  width:25%;
  top: 35%;
  width:25%;
  border:1px solid red;
  text-align:left;
  left: 2%;
  font-size: 1.7rem;
  
}
.okjii-fast-left3{
  position: absolute;
  width:25%;
  top: 51%;
  width:25%;
  border:1px solid red;
  text-align:left;
  left: 2%;
  font-size: 1.7rem;
  
}

.okjii-fast-left4{
  position: absolute;
  width:25%;
  top: 68%;
  width:25%;
  border:1px solid red;
  text-align:left;
  left: 2%;
  font-size: 1.7rem;
  
}



.okjii-fastfast.okjii-fast-right1, .okjii-fastfast.okjii-fast-right2, .okjii-fastfast.okjii-fast-right3, .okjii-fastfast.okjii-fast-right4 {
  position: absolute;
  width:15%;

}

.okjii-fast-right1 {
  position: absolute;
  width:25%;
  top: 18%;
  width:25%;
  border:1px solid red;
  text-align:left;
  left: 74%;
  font-size: 1.7rem;
}

.okjii-fast-right2 {
  position: absolute;
  width:25%;
  top: 35%;
  width:25%;
  border:1px solid red;
  text-align:left;
  left: 74%;
  font-size: 1.7rem;
}

.okjii-fast-right3 {
  position: absolute;
  width:25%;
  top: 51%;
  width:25%;
  border:1px solid red;
  text-align:left;
  left: 74%;
  font-size: 1.7rem;
}

.okjii-fast-right4 {
  position: absolute;
  width:25%;
  top: 68%;
  width:25%;
  border:1px solid red;
  text-align:left;
  left: 74%;
  font-size: 1.7rem;
}

.okjii-fastcon h1{
  font-size:3rem;
}

.okjii-fasthow h1{
  font-size:3rem;
  font-weight:400;
  text-align: center;
  padding-top: 30px;
}

.okjii-fastfast h1{
  font-size:3rem;
  font-weight:400;
  text-align: center;
  padding-top: 30px;
}
.okjii-fast-img-how {
  width: 93%;
  align-items: center !important;
  padding-left: 150px;
}

.faqimg05, .faqimg07{
  width:80% !important;
}


.okkji-faq{
  position:relative;
  display:flex;
  align-content: center !important;
  justify-content: center !important;
  z-index: 1;

}

.search-page{
  position:absolute;
  width:100%;
  top:30%;
  display:flex;
  justify-content: center !important;
}

.input-group.md-form.form-sm.form-1.pl-0 {
  background-color: #ffff !important;
}

.input-group-prepend {
  margin-right: -1px !important;
}

.search-form{
  margin-top:0 !important;
  margin-bottom: 0 !important;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen  and (max-width: 400px) {
  .footer-bdr-right{
  border-right: none !important;
}

.bg-image{
  background-image: url(../src/img/back.png);

  min-height: 50px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  position: relative;

}

.figure-img2 {
  width:100% !important;
  padding-right: 0 !important;
  padding-left: 14% !important;
}

.carousel-control-next{
  top:100% !important;
} 
  
.carousel-control-prev{
  top:100% !important;
}


.img-fluid.apple{
  width:70% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(40%);
}

.img-fluid.google{
  width:70% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(50%);
}

.carousel-multi-item .controls-top {
   margin-bottom: 1.88rem; 
   padding-left: 0px; 
   transform:translateX(15px);
}
.carousel-item.active.carousel-slide-item.turested-slide {
  display: flex !important;
  align-content: center;
  justify-content: space-around;
  width: 90%;
}
.turested-slide img.twentyfour, .turested-slide img.vmart{
  height:50px !important
}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .figure-img2 {
    padding-right: 0 !important;
    padding-left: 6.1% !important;
  }
    
  .bg-image{
    background-image: url(../src/img/back.png);
  
    min-height: 50px;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
  
}


.carousel-control-next, .carousel-control-prev{
  top:100% !important;
}


.carousel-item.active.carousel-slide-item.turested-slide {
  display: flex !important;
  align-content: center;
  justify-content: space-around;
  width: 90%;
}
.turested-slide img.twentyfour, .turested-slide img.vmart{
  height:50px !important
}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px )  {

  .bg-image{
    background-image: url(../src/img/back.png);
  
    min-height: 50px;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
  
}

.figure-img2 {
  padding-right: 0 !important;
  padding-left: 6.1% !important;
}

.carousel-control-next, .carousel-control-prev{
  top:100% !important;
}

.carousel-item.active.carousel-slide-item.turested-slide {
  display: flex !important;
  align-content: center;
  justify-content: space-around;
  width: 80%;
}
.turested-slide img.twentyfour, .turested-slide img.vmart{
  height:50px !important
}

} 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .bg-image{
    background-image: url(../src/img/back.png);
  
    min-height: 50px;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
  
}
.carousel-control-next, .carousel-control-prev{
  top:100% !important;
}


.figure-img2 {
  padding-right: 0 !important;
  padding-left: 14.6% !important;
}

.carousel-item.active.carousel-slide-item.turested-slide {
  display: flex !important;
  align-content: center;
  justify-content: space-around;
  width: 90%;
}
.turested-slide img.easyday, .turested-slide img.vishal{
  height:52px !important
}

}
