*{
  margin:0;
  padding: 0;
  box-sizing: border-box !important;
  
}


p{
  font-size:1.5rem;
  color:#5E5E5E;
  font-weight:400;
}

h1{
  font-size:2rem !important;
  font-weight: 400;
}

body{
  background-color: white;
  position: relative;
  font-family: "Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif, Muli,BlinkMacSystemFont,-apple-system;
  font-size: 14px;
  color :#5e5e5e;
}




/*.col-sm-7.figure-img1:before{
  content: "";
    display: block;
    background: url(/static/media/Asset6.1f22c602.png) 0 -2px no-repeat;
    background-size: 100% 100% !important;
    width: 87.5% !important;
    height: 557px !important;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.col-sm-7.lesspadding{
  padding-right: 0 !important;
}
*/

.navbar{
  font-weight: 300;
  box-shadow: none !important;
}

.bg-image{
    background-image: url(../src/img/back.png);
  
    min-height: 50px;
    left:0 ;
    right:0;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
  
}

nav#parallelogram {
  background-color: transparent !important;
}



.figure-img2 {
  width:100% !important;
  padding-right: 0 ;
  padding-left: 11% ;
}







.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  margin-left: 2rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-nav > li{
  list-style-type: none;
  padding-right: 2.8rem;
  margin: 0;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.90rem !important;
  font-weight:300px !important;
  flex-wrap: nowrap;
  word-break: normal;
  white-space: nowrap;
}
.navbar-nav > li a{
  font-weight: 400 !important;
}


.badge.badge-text{
  margin:0;
  font-size:85%;
  padding: 0.10em 0.4em;
  color: #000 !important;
}
a sup {
  top: -0.8em !important;
}


a{
  white-space: nowrap;
}





.okjii-explore{
  padding:0 50px !important;
}

.okjii-explore  h1{
  font-weight: 600;
  color:#5e5e5e !important;
  padding-top:3.5rem !important
}

.okjii-explore h2{
  padding-bottom: 2rem !important;
  font-size: 1.6rem !important;
  font-weight:400 !important;
  color:#5e5e5e !important;
}

.okjii-explore p{
  color: #5e5e5e !important;
  font-size:1.1rem !important;
  font-weight: 400 !important
}

.install-now, p.install-now {
  margin-top: 2rem !important;
  font-size:1.1rem !important;
  align-items: center !important;
  margin-bottom: 0 !important;
  font-weight: 600 !important;
}




.okjii-install img{
  width:4% !important;
  padding-top: 0 !important;
  align-content: center !important;
}

.apple{
  height:60px !important;
}

.google {
  padding-top:15px;
  height: 47px !important;
}

.playstore{
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.okjii-tel{
  padding-left: 30px !important;
  position: relative;
}
.okjii-tel input{
  background-color: #EDEDED !important;
  height:60px !important;
  border: none !important;
  width: 100%;
}

.okjii-tel button{
  position: absolute !important;
  border-radius: 5% !important;
  width:200px !important;
  height:50px;
  align-items: center !important;
  padding-top:15px !important;
  z-index:5;
}

.okjii-tel input[type="tel"]{
  font-size:20px !important;
  color:#000000;
  border-radius: 25px !important;
 }

input::placeholder{
  font-size:25px;
  padding-left: 10px;
  font-weight: 300;
}

button.okjii-button {
  transform: translate(-153px, 10px);
  border-radius: 25px !important;
  background-color: #259D70 !important;
  border: none;
  width: 131px !important;
  padding-bottom: 23px !important;
  height: 42px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600 !important;
  margin-bottom: 13px !important;
}

/*  okjii-daily*/


.okjii-best h1{

  font-weight:300 !important;
  padding-top: 4rem !important;
  padding-bottom: 1.8rem !important;
}

.okjii-daily {
  background-color: #F7F7F7 !important;
  padding:50px !important;
}


.okjii-daily h1{
  padding-top: 4.5rem !important;
  color:#2A2AFF !important;
}

.okjii-daily p{
  color: #5e5e5e !important;
  font-weight: 300 !important

}

ul.list-unstyle {
  list-style-type: none !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
}

.list-unstyle p{
  font-size:1.1rem !important;
  line-height: 1.1em !important;
}



.fa-2x {
  font-size: 1em !important;
}
figure.daily-figure-img {
  width: 70%;
}



/* okjii-homedelivery */

.okjii-homedelivery h1{
  font-size:2.5rem !important;
  font-weight:300;
  color:#2A2AF0 !important;

}

.okjii-homedelivery p{
  color: #5e5e5e !important;
font-size:1.2rem !important;
font-weight: 300 !important
}





/* Khata Book */

.okjii-khatabook1{
  background-color: #3BA778 !important;
}

section.okjii-khatabook{
  padding-top:2rem;
  margin-left:25px;
}


.okjii-khatabook1{
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}


.okjii-khatabook1 h1{
  font-size:2.5rem !important;
  Padding-top:2rem !important;
  padding-bottom: 1rem !important;
  font-weight:300 !important;
}

.okjii-khatabook1 p{
  color:#fff !important;
  font-size: 1.1rem !important;
  font-weight: 300 !important;
  
}
.no-break{
  word-break: keep-all;
}



/* home-testimonial  */
.home-testimonial h1{
color:#5e5e5e !important;
font-size:2.5rem !important;
font-weight:300 !important;
}

.testimoni-img{
  width:15% !important;
}

.Asset12{
  width:5% !important;

}

.carousel.carousel-fade.z-depth-1.testmonial-slide {
  box-shadow: none !important;
  
}

.carousel-inner{
  display:flex;
  align-content: center !important;
  justify-content: space-between;
  flex-wrap: wrap !important;
}

.testmonial-slide.carousel-fade a.carousel-control-prev {
  
background-color: #C6C6C6;
position: absolute;
  width: 6%;
  height: 12%;
  padding-top: 5px;
  border-radius: 40%;
  transform: translatey(-100%);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  margin-top: 6.1% !important;
}



.testmonial-slide.carousel-fade a.carousel-control-next {
  position: absolute;
  background-color: #C6C6C6;
  width: 6%;
  transform: translatey(-100%);
  height: 12%;
  left: 15% !important;
  padding-top: 5px;
  color: #000 !important;
  border-radius: 50%;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  margin-top: 6.1% !important;
}

.home-testimonial{
  position: relative;
}
.home-testimonial h2{
  color:#5e5e5e !important;
  font-size:2rem !important;
  font-weight:300 !important;
}



.home-testimonial.card {
  font-weight: 300;
  border: 0;
  box-shadow: none !important;
}

.home-testimonial blockquote p{
  font-size:1.2rem !important;
}


.trusted-by h1{
  color:#5e5e5e !important;
  font-size:3rem !important;
  font-weight:300 !important;

}
.turested-slide{
  display: flex;
  flex-wrap: wrap ;
  align-content: left;

}




footer.page-footer, .footer-copyright {
  background-color: #F7F7F7 !important;
  
  color:#ACACAC !important;
  border-top:2px solid #BCBCBC !important;
  
}

footer.page-footer{
  transform: translateY(60px);
}

footer.page-footer h5{
  font-size: 1.4rem !important;
  padding-bottom: 2rem;

}

footer.page-footer a {
  color:#ACACAC !important;
  font-size: 1rem;
  
  font-size:1rem !important;
  font-weight: 300 !important;
}


.d-flex.align-content-stretch.flex-wrap.example-parent img{
width:90% !important
}





footer.page-footer{
  
  border-bottom: 2px solid #BCBCBC !important;
}
.footer-bdr-right{
  border-right: 2px solid #BCBCBC !important;
}

.footer-bdr-right h5, .bdr-font h5{
  font-size: 1.5rem;
  font-weight: 400;
}



.list-unstyled.footer-list {
  padding-left: 0;
  height:50px !important;
  list-style: none;
  display:flex;
  padding-right:3rem !important;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;

}
.list-unstyled.footer-list > li{
  padding: 10px !important;
  margin: 5px;
}

.img-icon{
  display:inline-block !important;
  display:flex;
  width:29% !important;
  
}

p.cite-text{
  font-size:90% !important;
  font-weight:300 !important;
}


.col-example a{
  font-size:1rem !important;
  font-weight: 400 !important;
}

.figure-img > img {
  margin-bottom: .5rem;
  line-height: 1;
  padding-left: 64px !important;
  width:136% !important;
}

.col-lg-5.text-center{
  margin-left: 25% !important;
}




.list-image-checkbox li:before, .list-image-hand li:before, .list-image-star li:before, .list-image-correct li:before, .list-image-incorrect li:before, .list-image-checkmark li:before, .list-image-checkmark-white li:before {
  content: "";
  background-size: 70% 70%;
  background-position: 0 50%;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  left: -1.5em;
  top: -0.2em;
  height: 1.5em;
  width: 1.5em;
}

.daily-use div h1{
  margin-top: 5rem !important;
}

section.daily-use{
  background-color: cornsilk !important;
}

/*.list-image-checkbox > li:before {
  background-image: url(../../mhe.mhhe-blk2/img/list-icons/icon-checkbox.svg);
}*/
/*---Step List---*/
.list-step, .list-step-center {
  list-style-type: none;
  display: table;
}

.list-step table, .list-step-center table {
  width: 100%;
}

.list-step li, .list-step-center li {
  display: table-row;
  font-family: "Proxima Nova Regular", Verdana, Helvetica, sans-serif;
  margin-bottom: .5em;
}

.list-step .step-title, .list-step-center .step-title {
  display: table-cell;
  padding-right: 1.5em;
  white-space: nowrap;
}

.list-step .step-info, .list-step-center .step-info {
  display: table-cell;
  word-break: break-word;
}

.list-step .step-info ol, .list-step-center .step-info ol, .list-step .step-info ul, .list-step-center .step-info ul {
  font-style: normal;
  margin-left: 0.6667em;
}




/* testimony */

.home-testimonial{
  padding: 10rem !important;
}






/* Trusted */
.h1-trusted{
  font-size:3rem !important;
  padding-top:5rem !important;
  font-weight: 500 !important;
  color: #5E5E5E !important;
}

/* carousel-item */
.carousel-item.active.carousel-slide-item.turested-slide {
  display: flex !important;
  align-items: center;
  justify-content: space-around;
  width: auto;
}



ol.carousel-indicators li {
  background-color: #C6C6C6 !important;
  padding-top: 2%;
  transform: translatey(80px);
  
}

.carousel-item img {
  margin:20px !important;
}


/*.controls-top {
  transform: translatey(599px) !important;
}*/








/* carusoul end*/





.trusted-icon{
  width:50% !important
  
}

.card-shadow{
  box-shadow: none !important;

}



/*   Okjii retalor CSS Start*/

/* okjii-contact*/

.okjii-contact{
  background-color: #EDEDED !important;
}

.okjii-retaler h1{
  font-size:2.5rem;
  font-weight: 500;
  color:#5E5E5E;
  padding-bottom: 5rem;
}

.okjii-retaler h1 span.text-green{
  color: #259D70;
}

.okjii-create-store{
background-color:#F7F7F7 !important;
background-image: url(../src/img/retailer/createshop1.png);
background-repeat: no-repeat !important;
  background-color: transparent !important;
}

.okjii-create-store{
  padding-left:10rem !important;
  padding-right:10rem !important;
}

.okjii-sell-online h1{
  font-size:2.5rem !important;
  color:#3365E2;
  font-weight:300;

}

.okjii-sell-online{
  padding:10rem !important;
}

.okjii-contact button{
  background-color: #259D70 !important;
  border-radius: 4px;
  border:none !important;
  color:#fff !important;
  width:40% !important;
  transform: translate(255% 30%);
}

.okjii-create-store h1{
  font-size:2.5rem !important;
  color:#3365E2;
  font-weight:300;
}


.okjii-whyweshop{
  background-color: #F7F7F7 !important;
  padding:5rem !important;

}
.okjii-whyweshop section {
  padding-top:3rem !important;
  padding-bottom: 3rem !important;
}

.okjii-whyweshop section h1{
  font-size:2.5rem !important;
  font-weight: 400 !important;
  padding-bottom: 1.5rem;
  color:#5E5E5E;
}

.okjii-whyweshop section h4 {
  color:#5E5E5E;
  font-size:1.4rem;
  font-weight: 400;
  padding-bottom: 3rem;

}

.okjii-fast-img{
  margin-left:0 !important;
  margin-right: -15px !important;
}


.okjii-fast {
  position: relative;
  text-align: left;
  color: #122538;
}

.okjii-fastcon {
  position: absolute;
  top: 65px;
  left: 70px;
}


.okjii-fastfast{
  position: relative;
  text-align: left;
  color: #5E5E5E;
}

.okjii-fastfast.okjii-fast-left1, .okjii-fastfast.okjii-fast-left2, .okjii-fastfast.okjii-fast-left3, .okjii-fastfast.okjii-fast-left4 {
  position: absolute;
  width:15%;

}



.okjii-fast-left1 {
  position: absolute;
  width:25%;
  top: 18%;
  width:25%;
  text-align:left;
  left: 2%;
  font-size: 1.7rem;
  
}
.okjii-fast-left2{
  position: absolute;
  width:25%;
  top: 35%;
  width:25%;
  text-align:left;
  left: 2%;
  font-size: 1.7rem;
  
}
.okjii-fast-left3{
  position: absolute;
  width:25%;
  top: 51%;
  width:25%;
  text-align:left;
  left: 2%;
  font-size: 1.7rem;
  
}

.okjii-fast-left4{
  position: absolute;
  width:25%;
  top: 68%;
  width:25%;
  text-align:left;
  left: 2%;
  font-size: 1.7rem;
  
}



.okjii-fastfast.okjii-fast-right1, .okjii-fastfast.okjii-fast-right2, .okjii-fastfast.okjii-fast-right3, .okjii-fastfast.okjii-fast-right4 {
  position: absolute;
  width:15%;

}

.okjii-fast-right1 {
  position: absolute;
  width:25%;
  top: 17%;
  width:25%;
  text-align:left;
  left: 70%;
  font-size: 1.7rem;
 }

.okjii-fast-right2 {
  position: absolute;
  width:25%;
  top: 34%;
  width:25%;
  text-align:left;
  left: 70%;
  font-size: 1.7rem;
}

.okjii-fast-right3 {
  position: absolute;
  width:25%;
  top: 50%;
  width:25%;
  text-align:left;
  left: 70%;
  font-size: 1.7rem;
}

.okjii-fast-right4 {
  position: absolute;
  width:25%;
  top: 67%;
  width:25%;
  text-align:left;
  left: 70%;
  font-size: 1.7rem;
}

.okjii-fastcon h1{
  font-size:3rem;
}

.okjii-fasthow h1{
  font-size:3rem;
  font-weight:400;
  text-align: center;
  padding-top: 30px;
}

.okjii-fastfast h1{
  font-size:3rem;
  font-weight:400;
  text-align: center;
  padding-top: 30px;
}
.okjii-fast-img-how {
  width: 60%;
  align-items: center !important;
}

.faqimg05, .faqimg07{
  width:80% !important;
}

figcaption h4{
  font-size:2.5rem !important;
  font-weight: 400 !important;
  color:#5E5E5E !important;
}

.okkji-faq{
  position:relative;
  display:flex;
  align-content: center !important;
  justify-content: center !important;
  z-index: 1;

}

.search-page{
  position:absolute;
  width:100%;
  top:25%;
  display:flex;
  justify-content: center !important;
}

.input-group.md-form.form-sm.form-1.pl-0 {
  background-color: #ffff !important;
}

.input-group-prepend {
  margin-right: -1px !important;
}

.search-form{
  margin-top:0 !important;
  margin-bottom: 0 !important;
}

.accordion .accordion-item.active .title:before {
  content: url(../src/img/faq/faqimg08.png) !important;
  width: 6% !important;
  height: 6% !important;
  margin-right: 10px;
}

.accordion .accordion-item .title:before {
  content: url(../src/img/faq/faqimg06.png) !important;
  width: 6% !important;
  height: 6% !important;
  margin-right: 10px;
}

.accordion {
   border: none !important; 
}
.accordion .accordion-item .panel {
  border-left:1px solid #5E5E5E !important;
  border-right:1px solid #5E5E5E !important;
  border-bottom:1px solid #5E5E5E !important;
  border-radius: 0px 0 5px 5px;
  }

.accordion .accordion-item .panel p{
  font-size:1.2rem !important;

}
.accordion .accordion-item.active .title {
   background-color: #fff;
}

.accordion-item{
  padding-bottom: 5% !important;
}
.accordion .accordion-item .title {
  background-color: #fff !important;
  border: 1px solid #5E5E5E !important;
  color: #444;
  font-size: 1.5rem !important;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}


/*  offfer page Css*/
.input-group-text{
  border:none !important;
  font-weight: 700 !important;
}

.input-group-text::placeholder{
  font-size:0.5rem;
}
.input-group-lg>.form-control:not(textarea) {
  height: calc(1.5em + 3rem + 2px) !important;
  background-color: #e9ecef;
}
.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.form-control{
  border:none !important
}

.btn-success.btn-subscribe{
  background-color: #259D70 !important;
  font-size:1.3rem;
  font-weight: 400;
  padding: .54rem 1.14rem;
}

/* Offer card ***/
.okjii-offer h1{
  font-size:2.5rem !important;
  font-weight: 500 !important;

}
h1 span{
  color:#259D70 !important;
  font-size: 3rem !important;
  
}

.okjii-offer h2{
  font-size:2rem !important;
  font-weight: 500 !important;
}

.offer-h1{
  font-size:2.5rem !important;
  font-weight: 500 !important;
}

.offer-h1 span{
  color:#259D70 !important;
  font-size: 2.5rem !important;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  display: flex;
  justify-content: center;
  border: none;
}


.wrap    { 
  flex-wrap: wrap;
}  


.img-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
}

.img-flex img{
  height: 40px;
}

.flex-item {
  padding: 5px;
  margin: 10px;
  color: black;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.card-content{
  border:1px solid black !important;
  padding:25px !important;
  width:360px !important;
  width: 360px;
  height: auto;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}


.card-content h3{
  font-size:1.6rem !important;
  padding:30px !important;
  font-weight: 500 !important;
  padding-top:35px !important;
}

.card-content h3.paytm{
  color:#06306F !important;
  padding-bottom:60px !important;
}
.card-content h3 span.text-paytm{
  color:#02B9EF !important;
}

.card-content h3.easyday{
  color:#8BC640 !important;
  padding-bottom:60px !important;
}
.card-content h3 span.text-easyday{
  color:#FDBE3E !important;
}

.card-content h3 span.text-easyday-price{
  color:#259A70 !important;
}


.card-content h3.visa{
  color:#0E1A63 !important;
}
.card-content h3 span.text-visa{
  color:#002898 !important;
}

.card-content h3 span.text-visa-price{
  color:#1648B7 !important;
}
.btn-paytm{
  background-color:#C9F0FB !important;
  color:#06306F !important;
  font-size:1.5rem !important;
  font-weight: 700 !important;
  border-radius: 15px !important;
  align-items: flex-end !important;
}

.btn-easyday{
  background-color:#FEF0D3 !important;
  color:#FDB930 !important;
  font-size:1.5rem !important;
  font-weight: 700 !important;
  border-radius: 15px !important;
  align-items: flex-end !important;
} 
.btn-visa{
  background-color:#CCCEDE !important;
  color:#06306F !important;
  font-size:1.5rem !important;
  font-weight: 700 !important;
  border-radius: 15px !important;
  align-items: flex-end !important;
}
.flex-item h1{
  padding-top:2.5rem !important;
  font-size:2.5rem !important;
  font-weight: 400 !important;
  color:#5E5E5E !important;
}

.flex-item a{
  color: #76A0D0 !important;
  font-size:1.3rem !important;

}



.carousel{
  margin-top: 20px;
}
.carousel-item{
  text-align: center;
  min-height: auto; 
  display: flex;
  flex-direction: row !important;
  
}

.carousel-item p{
  text-align:left !important;
}

.item{
  width:200px !important;
  height: 60px !important;
  align-items: center !important;
  align-content: center !important;
  justify-content: space-between !important;
}
.bs-example{
margin: 20px;
}

.okkji-howtoapply{
  padding:10rem !important;
}
ol.okkji-howtoapply-list{
  padding:5rem !important
}


.bolded-list-indicator li {
  font-weight: 700;
  font-size:1.8rem;
}

.bolded-list-indicator li p {
  
  font-weight: 400;
  padding-left: 2rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen  and (max-width: 600px) {
  .footer-bdr-right{
  border-right: none !important;
}

.bg-image{
  background-image: url(../src/img/back.png);

  min-height: 50px;
  left:0 !important;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  position: relative;

}

.figure-img2 {
  width:100% !important;
  padding-right: 0 !important;
  padding-left: 13.1% !important;
}

.carousel-control-next{
  top:100% !important;
} 
  
.carousel-control-prev{
  top:100% !important;
}



.carousel-multi-item .controls-top {
   margin-bottom: 1.88rem; 
   padding-left: 0px; 
   transform:translateX(15px);
}
.carousel-item.active.carousel-slide-item.turested-slide {
  display: flex !important;
  align-content: center;
  justify-content: space-around;
  width: 90%;
}
.turested-slide img.twentyfour, .turested-slide img.vmart{
  height:50px !important
}

.okjii-fast-left1 {
  position: absolute;
  top: 39%;
  width:25%;
  text-align:left;
  left: 2%;
  font-size: .5rem;
  
}
.okjii-fast-left2{
  position: absolute;
  top: 51%;
  width:25%;
  text-align:left;
  left: 2%;
  font-size: .5rem;
  
}
.okjii-fast-left3{
  position: absolute;
  top: 63.5%;
  width:25%;
  text-align:left;
  left: 2%;
  font-size: .5rem;
  
}

.okjii-fast-left4{
  position: absolute;
  top: 76%;
  width:25%;
  text-align:left;
  left: 2%;
  font-size: .5rem;
  
}


.okjii-fast-right1 {
  position: absolute;
  width:25%;
  top: 39%;
  text-align:left;
  left: 74%;
  font-size: .5rem;
 }

.okjii-fast-right2 {
  position: absolute;
  width:25%;
  top: 52%;
  width:25%;
  text-align:left;
  left: 74%;
  font-size: .5rem;
}

.okjii-fast-right3 {
  position: absolute;
  width:25%;
  top: 64%;
  width:25%;
  text-align:left;
  left: 74%;
  font-size: .5rem;
}

.okjii-fast-right4 {
  position: absolute;
  width:25%;
  top: 75%;
  width:25%;
  text-align:left;
  left: 74%;
  font-size: .5rem;
}


}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 768px) and (min-width: 601px) {
  .figure-img2 {
    padding-right: 0 !important;
    padding-left: -1px !important;

  }


    
  .bg-image{
    background-image: url(../src/img/back.png);
  
    min-height: 50px;
    left:0 !important;
    right: 0 !important;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
  
}


.carousel-control-next, .carousel-control-prev{
  top:100% !important;
}


.carousel-item.active.carousel-slide-item.turested-slide {
  display: flex !important;
  align-content: center;
  justify-content: space-around;
  width: 90%;
}
.turested-slide img.twentyfour, .turested-slide img.vmart{
  height:50px !important
}

.okjii-fast-left1 {
  position: absolute;
  width:25%;
  top: 28%;
  width:25%;
  text-align:left;
  left: 2%;
  font-size: .9rem;
  
}
.okjii-fast-left2{
  position: absolute;
  width:25%;
  top: 42%;
  width:25%;
  text-align:left;
  left: 2%;
  font-size: .9rem;
  
}
.okjii-fast-left3{
  position: absolute;
  width:25%;
  top: 57%;
  width:25%;
  text-align:left;
  left: 2%;
  font-size: .9rem;
  
}

.okjii-fast-left4{
  position: absolute;
  top: 71%;
  width:25%;
  text-align:left;
  left: 2%;
  font-size: .9rem;
  
}


.okjii-fast-right1 {
  position: absolute;
  width:25%;
  top: 28%;
  width:25%;
  text-align:left;
  left: 74%;
  font-size: .9rem;
 }

.okjii-fast-right2 {
  position: absolute;
  width:25%;
  top: 42%;
  width:25%;
  text-align:left;
  left: 74%;
  font-size: .9rem;
}

.okjii-fast-right3 {
  position: absolute;
  width:25%;
  top: 57%;
  width:25%;
  text-align:left;
  left: 74%;
  font-size: .9rem;
}

.okjii-fast-right4 {
  position: absolute;
  width:25%;
  top: 71%;
  width:25%;
  text-align:left;
  left: 74%;
  font-size: .9rem;
}

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px )  {

  .bg-image{
    background-image: url(../src/img/back.png);
  
    min-height: 50px;
    left:0 !important;
    right: 0 !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
  
}

.figure-img2 {
  padding-right: 0 !important;
  padding-left: 3% !important;
}

.carousel-control-next, .carousel-control-prev{
  top:100% !important;
}

.carousel-item.active.carousel-slide-item.turested-slide {
  display: flex !important;
  align-content: center;
  justify-content: space-around;
  width: 80%;
}
.turested-slide img.twentyfour, .turested-slide img.vmart{
  height:50px !important
}



} 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .bg-image{
    background-image: url(../src/img/back.png);
  
    min-height: 50px;
    left:0 !important;
    right:0 !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
  
}
.carousel-control-next, .carousel-control-prev{
  top:100% !important;
}

.figure-img2 {
  padding-right: 0 !important;
  padding-left: 0% !important;
}


.carousel-item.active.carousel-slide-item.turested-slide {
  display: flex !important;
  align-content: center;
  justify-content: space-around;
  width: 90%;
}
.turested-slide img.easyday, .turested-slide img.vishal{
  height:52px !important
}

}
