body{
  overflow-x: hidden;
}

.width-wfa{
  width: -webkit-fill-available;
}
.form-control{
  border: 1px solid #DDDDDD !important;
}
.form-control-web{
  border: none;
}
.a-link{
  color: blue;
}
.fg-1{
  flex-grow: 1;
}

.sidebar .nav p, .off-canvas-sidebar .nav p{
  font-size: medium;
}

.sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper{
  overflow-x: hidden !important;
}

.cp{
  cursor: pointer;
}

.desc{
 color: red; 
}

.overflow-hidden {
  overflow: hidden;
}
.overflow-scroll {
  overflow: scroll;
}
.mt-10{
  margin-top: 10px;
}
.btn-primary {
  background-color: #4b9e70 !important;
}
.btn-large{
  font-size: 20px !important;
  padding: 20px !important;
  text-transform: capitalize !important;
  width: 200px;
}
.icon-sm{
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background-size: cover;
  font-size: 30px;
}

.icon-md{
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background-size: cover;
  font-size: 30px;
}
.df{
  display: flex;
}
.dnone{
  display: none;
}
.jcc{
  justify-content: center;
}
.jcsb{
  justify-content: space-between;
}
.jcfe{
  justify-content: flex-end;
}

.aic{
  align-items: center;
}
.autocomplete-dropdown-container{
  position: absolute;
  cursor: pointer;
  z-index: 2;
  background-color: #ffff;
  width: 100%;
}
.fd-c{
  flex-direction: column;
}
.form-required{
  font-size: 15px;
  color: #bb2222;
}
.ta{
  text-align: center;
}

.t-large{
  font-size: 30px !important;
}
.no-border{
  border: none !important;
}

/* dashboard common class */
.dashboard-card{
  max-height: 31.5rem;
}